body {
	margin: 0;


	padding:0
	font-family: "微软雅黑";
	font-size: 14px;
	color: #dbc1a7;
	background: #110915;
	clear: left;
	position: relative;
	padding-top: 5;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	line-height: 1.5em;
}

a:link, a:visited { color: #cfa3eb; text-decoration:none; } 
a:active, a:hover { color: #CCFF00; }

h1 {
	margin: 0px;
	padding: 10px 0;
	font-size: 16px;
	color: #dbb4e0;
	font-weight: normal;
}

h2 {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	color: #dbc1a7;
	border-bottom: 1px dotted #663e17;
}

h3 {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	color: #dbb4e0;
	border-bottom: 1px dotted #663e17;
}

p {
	margin: 7px;
	text-align: justify;
	padding-top: 20;
	padding-right: 0;
	padding-bottom: 20;
	padding-left: 0;
	line-height: 1.5em;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 1px;	
}


/* ----- Form ----- */

form {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: right;
}

.inputfield {
	background: #ffffff;
	border: 1px solid #c9f5f6;
	color: #000;
	font-size: 13px;
	font-variant: normal;
	height: 14px;
	line-height: normal;
	padding: 4px;
	margin-bottom: 5px;
	width: 240px;
}

#searchfield {
	background: none;
	border: 1px solid #874d76;
	color: #ffffff;
	font-size: 13px;
	font-variant: normal;
	height: 15px;
	line-height: normal;
	padding: 4px;
	width: 230px;
}


#searchbutton {
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	margin: 0 0 0 7px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 66px;
}

.button {
	width: 60px;
	height: 25px;
}

/* end of form */


#templatemo_header_panel {
	width:100%;
	margin: 0 auto;
	height: 145px;
}

#templatemo_header_panel #templatemo_header_section {
	width: 960px;
	height: 145px;
	margin:0 auto;
	background: url(images/templatemo_top_panel_bg.jpg) center top no-repeat;
}

#templatemo_header_section #templatemo_title_section {
	float: left;
	width: 400px;
	padding: 90px 0 15px 30px;
	font-size: 60px;
	color: #d3c2f9;
}

#templatemo_header_section #templatemo_search_section {
	float: right;
	margin-right: 30px;
	width: 330px;
	padding: 70px 0 15px 0;
}

#templatemo_header_section #templatemo_search_section form {
	text-align: left;
}

#templatemo_menu_panel {
	width:100%;
	height: 59px;	
	margin: 0 auto;
	color: #ffffff;
}

#templatemo_menu_panel #templatemo_menu_section {
	width: 930px;
	height: 59px;
	margin: 0 auto;
	padding: 0 0 0 30px;
	color: #03a0a6;
	background: url(images/templatemo_menu_panel_bg.jpg) no-repeat;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 1.5em;
}

#templatemo_menu_section ul {
    float: left;
    width: 930px;
    margin: 0;
    padding: 15px 0 0 0;
    list-style: none;
    height: 100%;
    position: absolute;
}

/*#templatemo_menu_section ul {
	float: left;
	width: 930px;
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
}
*/
#templatemo_menu_section ul li {
	display: inline;
}

#templatemo_menu_section ul li a {
	float: left;
	width: 110px;
	padding: 5px 0;
	margin-right: 5px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border-right: 1px solid #660e4c;
}

#templatemo_menu_section li a:hover, #templatemo_menu_section li .current {
	color: #d3c2f9;
}
/* end of menu */

/* content panel */
#templatemo_content_container {
	clear: both;
	overflow: hidden;
	width:100%;
	margin: 0 auto;
}

#templatemo_content_container #templatemo_content {
	overflow: hidden;
	height: 100%;
	width: 930px;
	padding: 30px 0 0 15px;
	margin:0 auto;
	background: url(images/templatemo_content_top.jpg) top center no-repeat;
}

#templatemo_content_left {
	float: left;
	width: 600px;
	margin-bottom: 15px;
}

#templatemo_content_right {
	float: right;
	width: 300px;
	margin-bottom: 15px;
}

#templatemo_content_left .templatemo_post {
	width: 600px;
	padding: 0;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border: 1px solid #1e1125;
	background: #180d1e;	
}

* html #templatemo_content_left .templatemo_post {
	margin-bottom: 15px;
}

.templatemo_post .post_title {
	width: 570px;
	height: 55px; /* padding 20px + */
	margin: 0px;
	padding: 20px 0px 5px 30px;
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
	background: url(images/templatemo_post_title_bg.jpg) no-repeat;
}

.templatemo_post .post_title .post_info {
	width: 100%;
	font-weight: normal;
	font-size: 12px;
	color: #dbc1a7;
	margin-top: 6px;
}

.templatemo_post .post_body {
	font-family: "微软雅黑";
	font-size: 14px;
	padding-top: 5px;

}

.templatemo_post .post_body img {
	margin-bottom: 15px;
}

.templatemo_post .post_comment {
	padding: 5px 30px;
	font-weight: bold;
}

#templatemo_content_right .templatemo_right_section {
	clear: both;
	display:inline-block;
	width: 250px;
	padding: 15px 15px 10px 15px;
	margin-bottom: 30px;
	color: #dbc1a7;	
	background: #180d1e url(images/templatemo_right_section_bg.jpg) top center no-repeat;	
	border-bottom: 1px solid #361d40;	
}

#templatemo_content_right .templatemo_right_section ul {
	clear: both;
	padding: 0px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
}

#templatemo_content_right .templatemo_right_section ul li {
	margin: 0 0 5px 0;
}

#templatemo_content_right .templatemo_right_section ul li a, a:hover {
	line-height: normal;
	padding-top: 20px;
}

#templatemo_bottom_panel {
	width:100%;
	margin: 0 auto;

}

#templatemo_bottom_panel #templatemo_bottom_section {
	overflow: hidden;
	height: 100%;
	width: 930px;
	background: url(images/templatemo_content_bottom.jpg) center bottom no-repeat;
	border-top: 1px solid #3d234d;
	clear: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 30px;
}

#templatemo_bottom_section .templatemo_bottom_section_content {
	display: inherit;
	float: left;
	width: 270px;
	padding-right: 20px;
	margin:0 0 15px 10px;
}

#templatemo_bottom_section .templatemo_bottom_section_content ul {
	margin: 0 0 0 10px;
	padding: 0 0 5px 10px;
}

#templatemo_bottom_section .templatemo_bottom_section_content li a {
	color: #dbc1a7;
}

#templatemo_footer_panel {
	width:100%;
	margin: 0 auto;
	background: #000000 url(images/templatemo_footer_bg_repeat.jpg) repeat-x;
	color: #ffffff;
}

#templatemo_footer_panel #templatemo_footer_section {
	width: 960px;
	margin:0 auto;
	padding: 20px 15px;	
	text-align: center;
	background: url(images/templatemo_footer_bg.jpg) no-repeat;
}
#templatemo_bottom_panel #templatemo_bottom_section .templatemo_bottom_section_content ul li a {
	list-style-type: none;
}
.mo {
	font-family: "微软雅黑";
	font-size: 20px;
	width: 300px;
	height: 300px;
	padding-top: 20px;
}
.mo1 {
	font-family: "微软雅黑";
	font-size: 14px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo .mo2 .mo3 {
	font-family: 12;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo .mo2 .mo5 {
	font-family: "微软雅黑";
	font-size: 14px;
	padding-top: 10px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo .mo2 {
	padding-top: 20px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .mo6 {
	height: 203px;
	width: 295px;
	position: absolute;
	left: 51px;
	top: 650px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .mo7 {
	height: 200px;
	width: 300px;
	margin-left: 5px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .mo8 {
	height: 400px;
	width: 300px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body p .mo6 img {
	position: absolute;
	margin-left: 30px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body img {
	margin-bottom: 15px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .mo10 {
	height: 200px;
	width: 220px;
	position: absolute;
	font-family: "微软雅黑";
	font-size: 14px;
	padding-right: 20px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .mo10 .na1 {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #3F3;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .na2 {
	padding-top: 15px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body #na3 {
	height: 187px;
	width: 237px;
	position: absolute;
	left: 354px;
	top: 653px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .na4 {
	padding-top: 20px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .mo18 {
	font-family: "微软雅黑";
	font-size: 14px;
}
#templatemo_bottom_panel #templatemo_bottom_section .templatemo_bottom_section_content ul .mo20 {
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_title .post_info {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .mo18 {
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .jie {
	font-family: "微软雅黑";
	font-size: 24px;
	color: #FFF;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .jie2 {
	font-family: "微软雅黑";
	font-size: 24px;
	color: #FFF;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .jie3 {
	padding-top: 10px;
	font-family: "微软雅黑";
	font-size: 14px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .jie4 {
	font-family: "微软雅黑";
	font-size: 24px;
	color: #FFF;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .biaoti {
	font-family: "微软雅黑";
	font-size: 18px;
	padding-top: 7px;
	color: #FFF;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .sinian {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #FFF;
	clear: left;
	padding-top: 20px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .jie5 {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #FFF;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .jie7 {
	font-family: "微软雅黑";
	font-size: 24px;
	color: #FFF;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .ti {
	padding-top: 9px;
	text-align: center;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body .biaothi {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #FFF;
	clear: left;
	padding-top: 20px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .riqi {
	padding-top: 8px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie8 {
	font-family: "微软雅黑";
	font-size: 19px;
	color: #FFF;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie9 {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: normal;
	padding-right: 10px;
	padding-top: 20px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .div11 {
	padding-top: 5px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .jie10 {
	padding-top: 5px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .tu1 img {
	float: left;
	padding-top: 7px;
	margin-right:12px;
	margin-top:-8px;
	margin-bottom:0.5px;
}


#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .tu2 img{
	float:left;
	padding-top: 7px;
	margin-right:12px;
	margin-top:-8px;
	margin-bottom:0.5px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .jie5 {
	clear: left;
	padding-top: 10px;
}

#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .jie3 {
	position: relative;
	padding-left: 200px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .tu3 img {
	float: left;
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .yulu {
	padding-left: 200px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .jie22 {
	padding-left: 200px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie9 .tupian {
	padding-left: 20px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie01 {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie02 {
	padding-top: 7px;
	line-height: normal;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie03 {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie04 {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie05 {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie06 {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie07 {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie08 {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie09 {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .jie010 {
	padding-top: 7px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo01 {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #FFF;
	padding-top: 12px;
	background-image: url(images/templatemo_top_panel_bg.jpg);
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo02 .tu01 img {
	float: left;
	padding-right: 10px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo02 {
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo02 {

}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo02 {

}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo02 {
	font-family: "微软雅黑";
	font-size: 14px;
	padding-top: 8px;
}
#templatemo_content_right {
	font-family: "微软雅黑";
	font-size: 14px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo02 #riqi01 {
	padding-top: 20px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo02 .mo001 img {
	float: left;
	padding-right: 10px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo02 .mo003 {
	padding-top: 8px;
	margin-left: 125px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .mo02 .mo004 {
	padding-top: 30px;
	font-size: 12px;
	margin-left: 125px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .wen {
	padding-top: 30px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .wen div img {
	float: left;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .wen .wen2 {
	padding-top: 9px;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-left: 125px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .wen .wen3 {
	padding-top: 15px;
	margin-left: 125px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .wen4 {
	padding-top: 25px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .wen4 .wen5 img {
	float: left;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .wen4 .wen6 {
	padding-top: 15px;
	font-size: 14px;
	margin-left: 125px;
}
#templatemo_content_container #templatemo_content #templatemo_content_right .wen4 .wen7 {
	font-family: "微软雅黑";
	font-size: 12px;
	padding-top: 25px;
	margin-left: 125px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body p {
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body p {
	/*margin-left: 296px*/;
	margin-top: -3px;
	padding-right: 5px;
}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .post_body img {
	margin-right: 15px;
	margin-bottom: -10px;
}
#templatemo_content #templatemo_content_left .templatemo_post .tu2 img {

}
#templatemo_content #templatemo_content_left .templatemo_post .templatemo_post .tu3 img {
	float: left;
}
#templatemo_content #templatemo_content_left .templatemo_post .tu1 img {

}
#templatemo_content_container #templatemo_content #templatemo_content_left .templatemo_post .tu2 img {
	padding-top: 10px;
}
