.nva .classify li a{font-family: "黑体";font-size: 18px;color: #fdfbfb;display: block;padding-top: 35px;padding-bottom: 10px;padding-left: 25px;padding-right: 30px;}
.mg{width: 1200px;margin: 0 auto;}
.tltie{text-align: center;margin-top: 90px;}
.tltie span{margin: 0 25px;font-family: "黑体";font-size: 14px;color: #4c4b4b;padding: 30px;}
.tltie span:nth-child(1){background: url(../img/pay/pic1.png) no-repeat center top;}
.tltie span:nth-child(2){background: url(../img/pay/pic02.png) no-repeat center top;}
.tltie span:nth-child(3){background: url(../img/pay/pic03.png) no-repeat center top ;}

.play_for{margin-top: 10px; margin-left: auto;margin-right: auto;width: 650px;height: 100px;border: 3px solid #959595;}
.play_for img{display: block;float: left;margin-top: 25px;margin-left:80px ;margin-right: 100px;}
.play_for p{font-family: "黑体";font-size: 14px;color: #4c4b4b;margin-bottom: 0;}
.play_for p:nth-child(3){margin-top: -2px;}
.play_for .frid{margin-top: 15px;color: red;}
.play_for span{color: red;}
.play_for font{color: red;}

.chend{margin-left: 274px;margin-top: 8px;}
.chend p{font-family: "黑体";font-size: 14px;color: red;float: left;margin-top: 5px;}
.chend textarea{width: 295px;height: 55px;resize: none;margin-left: 70px;border: 0;outline: none;}

.bank{margin-left: 274px;margin-top: -20px;width: 700px;overflow: hidden;}
.bank p{width: 680px;border-bottom: 2px solid #999999;font-family: "黑体";font-size: 14px;color: #4c4b4b;}

.bank ul li{float: left;margin-right: 40px;margin-top: 12px;}
.bank ul li:nth-child(1){margin-bottom: 15px;}
.bank ul li:nth-child(2){margin-bottom: 15px;}
.bank ul li:nth-child(3){margin-bottom: 15px;}
.bank ul li:nth-child(4){margin-bottom: 15px;}
.bank ul li label input{margin-right: 5px;}
.bank ul li:nth-child(4){margin-right: 0;}
.bank ul li:nth-child(8){margin-right: 0;}

.playfor{margin-left: 274px;margin-top: 5px;width: 700px;clear: both;}
.playfor p{width: 680px;border-bottom: 2px solid #999999;font-family: "黑体";font-size: 14px;color: #4c4b4b;}
.playfor ul li{float: left;margin-right: 30px;margin-top: 25px;margin-bottom: 35px;}
.playfor ul li:nth-child(1){margin-left:190px;}

.pay_now {clear: both;width: 100px;margin-left: 300px;}
.pay_now button{display: block;width: 145px;height: 45px;background-color: red;border: 1px solid #000000;color: #FFFFFF;font-size: 18px;margin-bottom: 30px;}

.play_word{position: relative;overflow: hidden;clear: both;}
.mak{display: none; position: absolute;background: rgba(238,238,238,0.5);width: 100%;height: 100%;overflow: hidden;}
.password{top: 160px;left: 575px; z-index: 10; width: 325px;height: 195px;background:rgba(180,180,180,0.7);text-align: center;position: absolute;}
.password p{font-family: "黑体";font-size: 18px;color: #fd0301;font-weight: bold;margin-top: 30px;}
.password input{width: 296px;height: 55px;background-color: #FFFFFF;border: 1px solid transparent;padding: 0 8px;line-height: 55px;}
.password button{margin-top: 12px; width: 106px;height: 38px;background-color: #f10403;border: 1px solid #FFFFFF;font-family: "黑体";font-size: 18px;color: #fdfdfd;}



input[type=radio]{visibility: hidden;}
 label{background: url(../img/pay/yuang.png) no-repeat left center;}
 label.checked{background: url(../img/pay/kd.png) no-repeat left center;}






















