.nva .classify li a{font-family: "黑体";font-size: 18px;color: #fdfbfb;display: block;padding-top: 35px;padding-bottom: 10px;padding-left: 25px;padding-right: 30px;}
.order{width: 100%; background-color: #eeeeee;margin-top: 25px;padding-bottom:5px;}
.order h4{padding-top: 8px;font-family: "黑体";font-size:24px ;color: #060606;margin-left: 50px;}
.order > p{margin-left: 50px;margin-top: 45px;}
.order > p a{font-family: "黑体";font-size:14px ;color: #4b4949;}
.order > p a:last-child{font-family: "黑体";font-size:14px ;color: red ;}

.order .faliuer{text-align: center; overflow: hidden;margin-left: auto;margin-right: auto;width: 872px;height: 100px;background-color: #FFFFFF;}
.order .faliuer span{padding-left: 40px;margin-top: 5px; background: url(../img/pay/faliy.png) no-repeat center left; display: inline-block;font-family: "黑体";font-size:18px ;color: red ;}
.order .faliuer p{margin-top: 15px;margin-left: 40px;}
.order .faliuer p a{display: inline-block;font-family: "黑体";font-size:18px ;color: #FFFFFF ;background-color: red;padding: 0 10px;border-radius: 7px;} 

.order .phone{text-align: center;width: 100%;height: 72px;background-color: #f3c4d2;margin-top: 18px;}
.order .phone p{line-height: 72px;margin-right: 90px;font-family:"黑体" ;font-size: 14px;color: #343333;}
.order .phone  a{margin-left: 20px;background-color: #fa88aa;padding: 8px 10px; border-radius: 8px;font-family:"黑体" ;font-size: 14px;color: #FFFFFF;}

.order .adder{width: 826px;height: 48px;background-color: #FFFFFF;margin-left: 20px;margin-top: 10px;}
.order .adder p{padding-left: 7px; line-height: 48px;float: left;font-family: "黑体";font-size:14px ;color: #444242 ;}
.order .adder span{padding-left: 73px; line-height: 48px;font-family: "黑体";font-size:14px ;color: #444242 ;}

.order .play{width: 826px;height: 48px;background-color: #FFFFFF;margin-left: 20px;margin-top: 10px;clear: both;}
.order .play p{padding-left: 7px; line-height: 48px;float: left;font-family: "黑体";font-size:14px ;color: #444242 ;}

.order .message{float: right;margin-top: -110px;margin-right: 140px;}
.order .message textarea {padding: 0 8px; margin-top: 0px;margin-left:50px;width:135px;height: 68px;outline: none;resize: none;}
.order .message button{margin-top: -3px; display: block;width: 32px;height: 17px;outline: none;border: 1px solid #b5b5b5;font-size: 12px;color: #ff021a;background-color: #FFFFFF;line-height: 16px;margin-left: 155px;}















