.nva .classify li a{font-family: "黑体";font-size: 18px;color: #fdfbfb;display: block;padding-top: 35px;padding-bottom: 10px;padding-left: 25px;padding-right: 30px;}
.bgk{width: 100%;height:935px;background: url(../img/register/pich.png) no-repeat center;overflow: hidden;}

.register{width: 590px;margin-top: 110px;margin-right: 35px;}

.tetel {width: 590px;height: 70px;background-color: #c9c9c9;}
.tetel h4{font-family: "黑体";font-size: 14px;color: #060606;line-height: 70px;padding-left: 45px;}
.tetel >p{float: right;padding-top: 5px;}
.tetel >p> a{font-family: "黑体";font-size: 12px;color: #090909;}
.tetel >P> a:last-child{color: #fc0606;padding-right: 20px;}

.back{width: 590px;height: 645px;background-color: #FFFFFF;}
.from {padding-top:65px ;margin-left: 32px;}
.from label{margin-bottom: 38px;}
.from label input{width: 290px;height: 33px;border: 1px solid #959595;padding: 0 8px;line-height: 33px;}
.from label:nth-child(2) input{width: 157px;height: 33px;border: 1px solid #959595;padding: 0 8px;line-height: 33px;}
.from label:nth-child(2) a{font-weight: normal; width: 120px;height: 33px;margin-left: 10px;font-family: "黑体";font-size: 18px;color: #f9f4f4;background-color: #ff0000;display: inline-block;text-decoration: none;text-align: center;line-height: 33px;}
.from span{font-weight: normal;display: inline-block;width: 86px;text-align: right;font-family: "黑体";font-size: 14px;color: #070101;}
.from label em{font-family: "黑体";font-size: 12px;color: #fd0202;padding-left: 8px;font-weight: normal;}
.from label:nth-child(2) em{font-family: "黑体";font-size: 12px;color: #fd0202;padding-left: 0px;font-weight: normal;}
.from label:nth-child(6){margin-bottom: 25px;}
.from label:nth-child(7){margin-left: 85px;margin-bottom: 30px;}
.from label:nth-child(7) input{ width: 21px;height: 15px;background: #FFFFFF;border-radius: 0;}
.from label:nth-child(7) span{font-weight: normal;width: 180px;text-align: right;font-family: "黑体";font-size: 14px;color: #070101;display: inline-block;}
.from label:nth-child(7) span a{font-weight: normal;font-family: "黑体";font-size: 14px;color: #fd0202;padding-left: 5px;}

.from button{margin-left: 120px; width: 210px;height: 44px;background-color: #ff0000;border: 1px solid #000000;font-family: "黑体";font-size: 18px;color: #FFF;display: block;text-align: center;line-height: 44px;}


input[type=checkbox]{visibility: hidden;}
form label:nth-child(7){background: url(../img/register/kuang.png) no-repeat left center;}
form label.checked{background: url(../img/register/gou.png) no-repeat left center;}























